<div class="relative w-screen h-screen">
    <h1 id="name" class="text-base text-[#FFFFFF]">ALIN GABRIEL PATRU</h1>

    <div id="pages">
        <ul class="text-5xl font-bold text-[#FFFFFF]">
            <li>ABOUT</li>
            <li>PROJECTS</li>
            <li>EXPERIENCE</li>
            <li>SKILLS</li>
        </ul>
    </div>

    <div id="links">
        <a href="https://github.com/AlinGP4" target="_blank" title="github"><img src="../assets/icons/github-fill.svg"></a>
        <a href="https://www.linkedin.com/in/alingabrielp/" title="linkedin" target="_blank"><img src="../assets/icons/linkedin-box-fill.svg"></a>
    </div>
</div>

