#name {
    position: absolute;
    top: 16px;
    left: 24px;

    font-size: 24px;
    font-weight: bold;
}

#pages {
    margin-left: 28px;
    display: flex;
    align-items: center;
    height: calc(100% - 24px);

    & li {
        cursor: pointer;
    }
}

#links {
    position: absolute;
    
    display: flex;
    gap: 16px;

    bottom: 16px;
    right: 16px;

    & img {
        height: 30px;
        filter: invert(33%) sepia(9%) saturate(1773%) hue-rotate(168deg) brightness(98%) contrast(90%);
    }
}